# Chat
begin_class ChatData
	String 		author
	String		message
end_class

# Login
begin_class LoginData
	String		userName
	String		password
end_class

# Account
begin_class AccountData
	String		userName
	String		password
	String		emailAddress
end_class

# Account failed
begin_class AccountErrorData
	String		reason
end_class

# Helpers
begin_class IntVector3D
	int	x
	int	y
	int z
end_class

begin_class NetQuaternion
	int w
	int	x
	int	y
	int z
end_class

# Movement 
begin_class MoveData
	String objectID
	byte movementType
	byte turnType
	IntVector3D location
	NetQuaternion heading	
end_class

# Updating the location
begin_class WorldObject
	String objectID
	byte movespeed
	byte turnspeed
	int modelID
	IntVector3D location
	NetQuaternion heading
end_class

begin_class CharacterVisualAppearance
	int height
	int skinColor
	int faceType
	int hairColor
	int hairStyle
	int hairFacial
	int itemHead
	int itemShoulders
	int itemShirt
	int itemChest
	int itemBelt
	int itemLegs
	int itemBoots
	int itemBracers
	int itemGloves
	int itemCape
	int itemHandLeft
	int itemHandRight
end_class

begin_class CharacterShortDescription
	String characterID
	String name
	String gender
	int race
	String location
	CharacterVisualAppearance visualAppearance
end_class

begin_class CharacterDetails
	CharacterShortDescription description
	IntVector3D location
	NetQuaternion heading	
end_class

#kerim, experimental new data structures since old are silly

begin_class CharacterValues
	int health
	int mana
	int stamina
	int strength
	int intelligence
	int dexterity
	int constitution
end_class

begin_class CharacterStatus
	CharacterValues currentValues
    String charstatus
    String pvp
    String gamestatus
    IntVector3D location
   	NetQuaternion heading
    int freexp
end_class

begin_class CharacterData
	String characterID
	String name
	String gender
	short age
	int race
	String locationdescription
	IntVector3D location
	NetQuaternion heading
	CharacterValues normalValues
	CharacterStatus status
	CharacterVisualAppearance visualAppearance
end_class

begin_class CreateCharacter
	byte race
	byte gender
	String name
end_class

#Characters Of Player
begin_class CharactersOfPlayer
	List CharacterData charactersOfPlayer
end_class

begin_class CharacterSelection
	String characterID
end_class

begin_class ServerRedirectData
	String host
	int port
end_class

### Server2Server Communication

begin_class ServerLoginData
	String name
	String password
	ServerRedirectData hostData
end_class

begin_class CharacterWorldServerInformation
	CharacterSelection character
	int sessionId
end_class

### END Server2Server Communication
# Test
begin_class TestData
	String test
	List IntVector3D otherObjects	
end_class
