<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- local connection properties -->
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/game
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password" />
		<!-- property name="hibernate.connection.pool_size"></property -->
		<!-- dialect for MySQL -->
		<property name="dialect">
			net.sf.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.transaction.factory_class">
			net.sf.hibernate.transaction.JDBCTransactionFactory
		</property>
		<mapping resource="de/mwbs/common/data/generated/Account.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/Characterdata.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/CharacterItemMapping.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/CharacterSkillMapping.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/CharacterStatus.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/CharacterVisualappearance.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/CharacterWorldobjectMapping.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/Configuration.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/Item.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/ItemType.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/Map.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/Npc.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/NpcSkillMapping.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/NpcStatus.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/NpcWorldobjectMapping.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/Race.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/Skill.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/SkillGroup.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/SkillRaceMapping.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/Worldobject.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/WorldobjectType.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/Zoneserver.hbm.xml" />
		<mapping resource="de/mwbs/common/data/generated/ZoneserverMapMapping.hbm.xml" />
	</session-factory>
</hibernate-configuration>
